<div class="about-section">
    <h1>What We Offer!</h1>
    <p>Comprehensive Insurance and Third Party Insurance <br/>
      Difference Between Comprehensive Insurance and Third Party Insurance <br/>
      Selecting the right kind of insurance plan for your vehicle is important in India. This is because having at least a basic insurance that provides coverage for third-party is mandatory and not having one such cover can lead to violation of the law. Moreover, sometimes this may lead to driving license disqualification.
      
      To protect you from damages, fines, and losses that can arise because of a mishap, which can be big or small, there are two types of car insurance plans available in the market. 
      <br/> <br/>
      These insurance plans are – comprehensive car insurance and third-party car insurance. To know which insurance will suit your car and you better, it is suggested to know the difference between these two car insurance types.
      
      What is Comprehensive Insurance?
      Comprehensive car insurance is an extensive car insurance plan that covers the insured vehicle against third-party liabilities and own damage. Also known as own-damage car insurance, this policy offers protection against accidental damages, loss or damages due to man-made and natural calamities, fire etc.  Comprehensive car insurance can be availed for a regular premium, along with some add-on covers as well.
    
      It pays for damages incurred amid unforeseen natural calamities such as cyclone, earthquake, flood, etc. It also safeguards the insured car from man-made disasters including theft, accident, incursion, burglary, fire, etc.
    
<br/>

<br/>
<br/>
     <b> The Benefits of Purchasing a Comprehensive Car Insurance Plan</b> <br/>
A comprehensive car insurance plan safeguards the insured vehicle against the following:

Vandalism
Theft
Glass damage like as a damaged windshield
Damages caused by a bird or an animal
Damage caused by falling objects, missiles etc.
Fire
Flood
Damages caused by a natural disaster like a wind storm, hail storm, tornado, hurricane, etc.


    </p>
    
  </div>
  
  
  